body{
    background-color: blueviolet;
}
h1{
    color: blue;
}
p{
    color: aquamarine;
}
img{border-radius: 50%;}
#special{color:#2c271e ;
background-color: gold;
}
#special2{color:#DDA0DD ;
background-color: darkolivegreen;
}
hr{
    border: 2px solid red
}
#cat{
    border: 2px solid blue
}